# build
/dist
out.js

# dependencies
/node_modules

# Local files
.vscode/snipsnap.code-snippets
src/google/token*.*
src/google/credentials.json
token.json
.DS_Store
.vscode/settings.json 
out.js
.env
