# build
/dist
out.js

# dependencies
/node_modules

# Local files
.vscode/snipsnap.code-snippets
.DS_Store
.vscode/settings.json 
.env
src/environments/.env.dev
src/environments/.env.prod
.env.dev
juno-d50a9-firebase-adminsdk-kp20s-8c1ea515e7.json
error.log
combined.log
